html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./photos/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

header {
  display: flex;
  color: white;
  width: 100vw;
  justify-content: space-between;
  padding: 3rem;
}
