html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --light-black: rgb(43, 43, 43, 0.5);
  --med-black: rgb(43, 43, 43, 0.7);
}

body {
  background-image: url("../dist/photos/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  color: white;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 3.5rem;
}

.main {
  margin: 0 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

header .brand {
  font-size: 7rem;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

nav button {
  padding: 1.5rem 2rem;
  border: unset;
  background: unset;
  color: white;
  font-size: 2.5rem;
  margin: 0 2rem;
}

#content .hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 12rem 0;
}
#content .hero h1 {
  font-size: 4.5rem;
}
#content .hero p {
  font-size: 2.5rem;
}

#content .hero button {
  border: unset;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

#content .hero button:hover {
  background-color: lightgray;
}

#content .hero button:active {
  background-color: rgb(197, 197, 197);
}

/* Menu page */
.menu {
  display: grid;
  margin: 5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: var(--light-black);
  border-radius: 1.5rem;
  padding: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: var(--med-black);
  gap: 1rem;
}

.menu-item img {
  height: auto;
  max-width: 15rem;
}

.menu-item h2 {
  font-size: 4rem;
}

.menu-item p {
  font-size: 2rem;
  text-align: center;
}

/* contact */

.contact {
  background-color: var(--light-black);
  padding: 3rem;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.contact p {
  font-size: 2rem;
  align-self: flex-start;
  padding: 1rem;
}

.contact img {
  width: 55rem;
}

footer {
  font-size: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  background: var(--light-black);
  bottom: 0;
  left: 0;
}

footer img {
  width: 2.5rem;
  margin: 0 1rem;
  filter: invert();
}
